:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-pink: rgb(254, 109, 194);
  --color-orange: rgb(255, 184, 98);
  --color-yellow: rgb(209, 245, 111);
  --color-green: rgb(152, 254, 183);
  --color-blue: skyblue;
  --color-purple: rgb(213, 145, 255);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: black;
}

html,
body,
#root,
.note-board {
  min-height: 100dvh;
}