@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.submit-button {
  color: black;
  background-color: rgb(115, 255, 9);
  text-align: center;
  padding: 0.5em 0.8em;
  font-size: 1em;
  margin: 4px 2px;
  border: 0;
  box-shadow: 0px 3px 3px -2px rgb(50, 50, 50);
}

.input-field {
  background-color: white;
  color: black;
  padding: 1em;
  resize: none;
  height: auto;
}

.input-box {
  padding: 2em;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: khaki;
  box-shadow: 0px 5px 5px -2px rgb(50, 50, 50);
  margin: 1em;
}

.input-prompt {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.color-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.color-circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;
  margin-block: 1em;
}

.color-circle.selected {
  border: 2px solid black;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: yellowgreen;
}

.blue {
  background-color: lightskyblue;
}

.purple {
  background-color: lavender;
}