@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.note {
  width: 18em;
  aspect-ratio: 1/1;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  box-shadow: 0px 5px 5px -2px rgb(50, 50, 50);
  position: relative;

  background-color: var(--bg-color);
}

.note:not(.dialog):hover {
  transform: rotate(2deg);
}

.note-pin {
  background-image: url(../assets/pin.png);
  width: 3em;
  height: 3em;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translateX(-50%);
}

.note-author {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-block: 0.5em;
}

.note-content {
  text-align: left;
  text-align: justify;
  margin-block: 0.5em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.note-date {
  text-align: end;
  margin-top: auto;
  margin-bottom: 0;
  color: hsl(from var(--bg-color) h s calc(0.5 * l));
}

.pink {
  --bg-color: var(--color-pink);
}

.orange {
  --bg-color: var(--color-orange);
}

.yellow {
  --bg-color: var(--color-yellow);
}

.green {
  --bg-color: var(--color-green);
}

.blue {
  --bg-color: var(--color-blue);
}

.purple {
  --bg-color: var(--color-purple);
}


