.note {
    width: 20em;
    height: 20em;
    background-color:darkorange;
    color: black;
    display: flex;
    flex-direction: column;
    margin-block: 1em;
}

.note-content {
    text-align: left;
    margin: 1em;
}